<div class="container-fluid">
  <h1 style="text-align: center;">Registration Form</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    {{registrationForm.value | json}}
    <div class="form-group">
      <label>Username</label>
      <input [class.is-invalid]="registrationForm.get('userName')?.invalid && 
                                registrationForm.get('userName')?.touched" formControlName='userName' type="text" class="form-control">
      <!-- <small [class.d-none]="registrationForm.get('userName')?.valid ||
                             registrationForm.get('userName')?.untouched" class="text-danger">Username is Required</small> -->
      <div *ngIf="registrationForm.get('userName')?.invalid && registrationForm.get('userName')?.touched">
        <small *ngIf= "registrationForm.get('userName')?.errors?.required" class="text-danger">Username is Required</small>
        <small *ngIf= "registrationForm.get('userName')?.errors?.minlength" class="text-danger">Username must be 3 digit</small>
        <!-- <small *ngIf= "registrationForm.get('userName')?.errors?.forbiddenName" class="text-danger">Admin cannot be used</small> -->

      </div>                       
    </div>

    <div class="form-group">
      <label>Email</label>
      <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateEmails()">Add e-mail</button>
      <input [class.is-invalid]="email.invalid && email.touched" formControlName='email' type="text" class="form-control">
      <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
      <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i=index">
        <input type="text" class="form-control my-1" [formControlName]="i">

      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" formControlName='subscribe' type="checkbox" >
      <label class="form-check-label">Send any promotion offer</label>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input formControlName='password' type="password" class="form-control">
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input [class.is-invalid]="registrationForm.errors?.mismatch" formControlName='confirmPassword' type="password" class="form-control">
      <small class="text-danger" *ngIf="registrationForm.errors?.mismatch">Password do not match</small>
    </div>

    <div formGroupName="address">
      <div class="form-group">
        <label>City</label>
        <input formControlName='city' type="text" class="form-control">
      </div>

      <div class="form-group">
        <label>State</label>
        <input formControlName='State' type="text" class="form-control">
      </div>

      <div class="form-group">
        <label>PostalCode</label>
        <input formControlName='Postalcode' type="number" class="form-control">
      </div>
    </div>

    <button [disabled]='!registrationForm.valid' class="btn btn-primary" type="submit">Register</button>
    <button (click)="loadAPIdata()" class="btn btn-secondary ml-2" type="button">Load API data</button>

  </form>
  <!-- {{registrationForm.value | json}} -->

</div>
